name: CI

on: [push, fork, pull_request, workflow_dispatch]

jobs:
  typos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: crate-ci/typos@master

  check:
    strategy:
      matrix:
        os: [ubuntu, macos]
      fail-fast: false
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: astral-sh/setup-uv@v6
        with:
          python-version: 3.13
          activate-environment: true
      - name: Install dependencies
        run: |
            uv pip install basedpyright $(find . -name pyproject.toml -exec printf -- '-r %s ' {} \;)
      - name: Linting
        run: |
          ruff format --check --diff
          ruff check --diff
      - name: Check typing
        run: basedpyright

  publish:
    if: github.ref_type == 'tag'
    runs-on: ubuntu-latest
    environment: release
    strategy:
      matrix:
        dir:
          - uvicorn-hmr
          - fastapi-reloader
          - hmr-daemon
      fail-fast: false
    needs: [typos, check]
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: packages/${{ matrix.dir }}
      - name: Set up Python
        uses: astral-sh/setup-uv@v6
        with:
          python-version: 3.13
      - name: Remove admonitions from READMEs
        run: |
          find . -type f -name "README.md" -exec sed -i -E '/^> \[!(NOTE|TIP|IMPORTANT|WARNING|CAUTION)\]$/d' {} +
      - name: Build packages
        run: |
          uv build packages/${{ matrix.dir }}
      - name: Publish to PyPI
        continue-on-error: true
        run: uv publish
