name: CI

on: [push, fork, pull_request, workflow_dispatch]

jobs:
  typos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: crate-ci/typos@master

  check:
    strategy:
      matrix:
        os: [ubuntu, macos]
      fail-fast: false
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.13
          activate-environment: true
      - name: Install dependencies
        run: |
            uv sync --all-packages
      - name: Linting
        run: |
          ruff format --check --diff
          ruff check --diff
      - uses: oven-sh/setup-bun@v2
      - name: Check typing
        run: bunx basedpyright

  publish:
    if: github.ref_type == 'tag'
    runs-on: ubuntu-latest
    environment: release
    strategy:
      matrix:
        dir:
          - uvicorn-hmr
          - fastapi-reloader
          - hmr-daemon
          - mcp-hmr
      fail-fast: false
    needs: [typos, check]
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v5
        with:
          sparse-checkout: packages/${{ matrix.dir }}
      - name: Set up Python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.13
      - name: Remove admonitions from READMEs
        run: |
          find . -type f -name "README.md" -exec sed -i -E '/^> \[!(NOTE|TIP|IMPORTANT|WARNING|CAUTION)\]$/d' {} +
      - name: Remove all noqa comments
        run: |
          uvx ruff check --select RUF100 --show-fixes --fix packages/${{ matrix.dir }}
      - name: Build packages
        run: |
          uv build packages/${{ matrix.dir }} --wheel
      - name: Publish to PyPI
        continue-on-error: true
        run: uv publish
